body{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
/*button css*/
.btn{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    align-items: left;
    background-color: white;
    width: 200px;
    padding: 20px;
    text-align: center;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.space {
    width: 40px;
    height: auto;
    display: block;
  }
ul {
    list-style-type: none;
    display: inline-block;
    align-items: left;
}
ul li {
    display: inline;
}
h4{
    font-size: small;
    font-weight: bold;
}
      